<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>股票查询 | Stock Searching</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">股票查询 | Stock Searching</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">全部</a></li>
                    <li><a href="SH.html">上证</a></li>
                    <li><a href="SZ.html">深证</a></li>
                    <li><a href="HK.html">港股</a></li>
                    <li><a href="US.html">美股</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-md-3 color1 part">
                <p class="title">上证</p>
                <input type="text" class="form-control" placeholder="股票代码, 如:600000" v-model="gidSH" />
                <p class="content">{{messageSH}}</p>
                <p class="content">股票名称: {{nameSH}}</p>
                <p class="content">股票编号: {{gidSH}}</p>
                <p class="content">日期: {{dateSH}}</p>
                <p class="content">时间: {{timeSH}}</p>
                <p class="content">涨跌百分比: {{increPerSH}}</p>
                <p class="content">涨跌额: {{increaseSH}}</p>
                <p class="content">今日开盘价: {{todayStartPriSH}}</p>
                <p class="content">昨日收盘价: {{yestodEndPriSH}}</p>
                <p class="content">当前价格: {{nowPriSH}}</p>
                <p class="content">今日最高价: {{todayMaxSH}}</p>
                <p class="content">今日最低价: {{todayMinSH}}</p>
                <p class="content">竞买价: {{competitivePriSH}}</p>
                <p class="content">竞卖价: {{reservePriSH}}</p>
                <p class="content">成交量: {{traNumberSH}}</p>
                <p class="content">成交金额: {{traAmountSH}}</p>
            </div>
            <div class="col-md-3 color2 part">
                <p class="title">深证</p>
                <input type="text" class="form-control" placeholder="股票代码, 如:000001" v-model="gidSZ" />
                <p class="content">{{messageSZ}}</p>
                <p class="content">股票名称: {{nameSZ}}</p>
                <p class="content">股票编号: {{gidSZ}}</p>
                <p class="content">日期: {{dateSZ}}</p>
                <p class="content">时间: {{timeSZ}}</p>
                <p class="content">涨跌百分比: {{increPerSZ}}</p>
                <p class="content">涨跌额: {{increaseSZ}}</p>
                <p class="content">今日开盘价: {{todayStartPriSZ}}</p>
                <p class="content">昨日收盘价: {{yestodEndPriSZ}}</p>
                <p class="content">当前价格: {{nowPriSZ}}</p>
                <p class="content">今日最高价: {{todayMaxSZ}}</p>
                <p class="content">今日最低价: {{todayMinSZ}}</p>
                <p class="content">竞买价: {{competitivePriSZ}}</p>
                <p class="content">竞卖价: {{reservePriSZ}}</p>
                <p class="content">成交量: {{traNumberSZ}}</p>
                <p class="content">成交金额: {{traAmountSZ}}</p>
            </div>
            <div class="col-md-3 color3 part">
                <p class="title">港股</p>
                <input type="text" class="form-control" placeholder="股票代码, 如:00001" v-model="gidHK" />
                <p class="content">{{messageHK}}</p>
                <p class="content">股票名称: {{nameHK}}</p>
                <p class="content">股票编号: {{gidHK}}</p>
                <p class="content">日期: {{dateHK}}</p>
                <p class="content">时间: {{timeHK}}</p>
                <p class="content">涨跌百分比: {{limitHK}}</p>
                <p class="content">涨跌额: {{uppicHK}}</p>
                <p class="content">今日开盘价: {{openpriHK}}</p>
                <p class="content">昨日收盘价: {{formpriHK}}</p>
                <p class="content">当前价格: {{lastestpriHK}}</p>
                <p class="content">今日最高价: {{maxpriHK}}</p>
                <p class="content">今日最低价: {{minpriHK}}</p>
                <p class="content">竞买价: {{inpicHK}}</p>
                <p class="content">竞卖价: {{outpicHK}}</p>
                <p class="content">成交量: {{traNumberHK}}</p>
                <p class="content">成交金额: {{traAmountHK}}</p>
                <p class="content">市盈率: {{priearnHK}}</p>
            </div>
            <div class="col-md-3 color4 part">
                <p class="title">美股</p>
                <input type="text" class="form-control" placeholder="股票代码, 如:aapl" v-model="gidUS" />
                <p class="content">{{messageUS}}</p>
                <p class="content">股票名称: {{nameUS}}</p>
                <p class="content">股票编号: {{gidUS}}</p>
                <p class="content">美国时间: {{ustimeUS}}</p>
                <p class="content">中国时间: {{chtimeUS}}</p>
                <p class="content">涨跌百分比: {{limitUS}}</p>
                <p class="content">涨跌额: {{uppicUS}}</p>
                <p class="content">今日开盘价: {{openpriUS}}</p>
                <p class="content">昨日收盘价: {{formpriUS}}</p>
                <p class="content">当前价格: {{lastestpriUS}}</p>
                <p class="content">今日最高价: {{maxpriUS}}</p>
                <p class="content">今日最低价: {{minpriUS}}</p>
                <p class="content">成交量: {{traAmountUS}}</p>
                <p class="content">平均成交量: {{avgTraNumberUS}}</p>
                <p class="content">市值: {{markValueUS}}</p>
                <p class="content">市盈率: {{priearnUS}}</p>
                <p class="content">收益率: {{RORUS}}</p>
                <p class="content">美股收益: {{EPSUS}}</p>
                <p class="content">股息: {{dividentUS}}</p>
                <p class="content">股本: {{capitalUS}}</p>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script src="script/index.js"></script>

</html>